/node_modules

package-lock.json

.env

# If these files are pushed
# git rm -r --cached .
# Again pushed 
# To delete that commit
# git log
# git rebase -i <commit_hash>^
# git push origin <branch_name> --force

